@use "../../variables-site/structure";

.accent-header,
.article-section-title {
	border-bottom: 4px solid var(--gulir-color-border);
	color: var(--gulir-color-primary-against-white);
	font-size: var(--gulir-font-size-sm);
	margin-top: 0;
	margin-bottom: #{structure.$size__spacing-unit * 0.75};
	padding: 0 0 #{structure.$size__spacing-unit * 0.33};
}
