p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	cite {
		font-family: var(--gulir-font-heading);
		font-size: var(--gulir-font-size-xs);
		font-style: normal;
	}
}

pre {
	font-size: var(--gulir-font-size-sm);
	font-family: var(--gulir-font-pre);
	line-height: var(--gulir-font-line-height-body);
	overflow: auto;
}

code,
kbd,
tt,
var {
	font-size: var(--gulir-font-size-sm);
	font-family: var(--gulir-font-code);
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		text-decoration: underline;
	}
}
