@use "../mixins/utilities";

a {
	@include utilities.link-transition;

	color: var(--gulir-color-text-light);

	&:visited {
		color: inherit;
	}

	&:hover,
	&:active {
		color: var(--gulir-color-text-main);
		outline: 0;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
		text-decoration: underline;
	}
}
