@use "sass:meta";
@use "../mixins/mixins-main";
@use "../mixins/utilities";

html {
	font-size: var(--gulir-font-size-base-sm);

	@include utilities.media( mobile ) {
		font-size: var(--gulir-font-size-base);
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--gulir-color-text-main);
	font-family: var(--gulir-font-body);
	font-weight: 400;
	font-size: 1em;
	line-height: var(--gulir-font-line-height-body);
	margin: 0;
	text-rendering: optimizelegibility;
}

button,
input,
select,
optgroup,
textarea {
	color: var(--gulir-color-text-main);
	font-family: var(--gulir-font-body);
	font-weight: 400;
	line-height: var(--gulir-font-line-height-body);
	text-rendering: optimizelegibility;
}

.use-body-font {
	font-family: var(--gulir-font-body);
}

@include meta.load-css( "headings" );

@include meta.load-css( "copy" );
